@import "tailwindcss";
html {
  scroll-behavior: smooth;
}
:root {
  
  --primary: #3F502A;
  --background: #fdfae3;
  --second-color: #562a17;
  --text-color: #3F502A;
  --gradient-color: #5F6E39;
  --third-color: #D57929;
  --first-linear-color: #EDb05b;
}
.subFont {
  font-family: var(--font-roboto-sans);
}

.rinaralink {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 55;
}
.gradient-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 7.3rem;
  left: 0;
  background: linear-gradient(to top, var(--gradient-color) 0%, transparent);
}
.wrapper-page {
  padding: 0 20px;
}

.popupNumSkeleton {
  background-color: var(--third-color);
  z-index: 55;
  width: 1.2rem;
  transition: all 0.5s ease-in-out;
  height: 1.2rem;
  border-radius: 50%;
  position: absolute;
  top: -0.8rem;
  right: -1.2rem;
  animation: skeletonPulse 1.5s infinite ease-in-out;
}
@keyframes skeletonPulse {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.popupNum {
  background-color: var(--third-color);
  z-index: 55;
  font-size: 0.6rem;
  padding: 0.4rem;
  color: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.2rem;
  transition: all 0.5s ease-in-out;
  height: 1.2rem;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  top: -0.8rem;
  right: -1.2rem;
}

.header-section {
  text-transform: uppercase;
  text-align: center;
  color: var(--primary);
  padding: 0.6rem;
  font-size: 2.4rem;
  font-weight: 800;
}
.rinarahBtn {
  margin-top: 1.5rem;
  padding: 0.4rem 0.8rem;
  font-size: 0.8rem;
  background: var(--primary);
  color: var(--background);
  border-radius: 0.5rem;
  cursor: pointer;
  text-transform: capitalize;
  transition: all 0.3s ease;
}
.rinarahBtn:hover {
  background: var(--second-color);
}
.error-message {
  color: #ff0000;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: capitalize;
  transition: 0.2s all ease-in-out;
}
.amazonBtn {
  position: relative;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
  z-index: 57;
  color: #ffffff;
  background-color: #000000;
  padding: 0.4rem 0.8rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.amazonBtn:hover {
  background-color: #5f5f5f;
}
.logo-loading {
  animation: loadingImage 1.8s ease-in-out infinite;
  transform-origin: center;
}
.rinarah-checkout-title{
  font-size: 1.2rem;
  font-weight: 800;
  color: var(--text-color);
  margin-bottom: 0.5rem;
}
.rinarah-checkout-box {
  position: relative;
  width: 100%;
}
.rinarah-checkout-label , .rinarah-checkout-label-state {
  position: absolute;
  font-size: 0.7rem;
  font-weight: 800;
  color: var(--text-color);
  top: 0.325rem;
  text-transform: uppercase;
  left: 0.6rem;
  transition: all 0.3s ease-in-out;
}
.rinarah-checkout-label{
  opacity: 0;
  top: 1.1rem;
}
.rinarah-checkout-input:focus + .rinarah-checkout-label,
.rinarah-checkout-input:not(:placeholder-shown) + .rinarah-checkout-label {
  opacity: 1;
  transform: translateY(-0.75rem);
}
.rinarah-checkout-input:focus::placeholder {
  opacity: 0;
}
.rinarah-checkout-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 1.5rem !important;
  appearance: none;
}
.rinarah-checkout-arrow {
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  width: 1.5rem;
  right: 0.5rem;
  height: 43%;
  transform: translateY(-50%);
}
.rinarah-checkout-input,
.rinarah-checkout-select {
  width: 100%;
  padding: 1.2rem 0.5rem;
  position: relative;
  border: 2px solid var(--primary);
  border-radius: 0.5rem;
  font-size: 0.8rem;
  color: var(--text-color);
  transition: all 0.3s ease-in-out;
}
.rinarah-checkout-input:focus,
.rinarah-checkout-select:focus {
  border-color: var(--primary);
  outline: none;
}
.rinarah-error-message{
  color: #984a4a;
  font-size: .6rem;
  font-weight: 600;
  text-transform: capitalize;
  transition: 0.2s all ease-in-out;
  margin-top: 1rem;
  display: block;
}
@keyframes loadingImage {
  0% {
    opacity: 0.5;
    transform: scale(0.8);
  }
  30% {
    opacity: 1;
    transform: scale(1.1);
  }
  60% {
    opacity: 0.8;
    transform: scale(0.95);
  }
  100% {
    opacity: 0.5;
    transform: scale(0.8);
  }
}

@media (max-width: 680px) {
  .header-section {
    font-size: 2.2rem;
    padding: 0.3rem;
  }
}
@media (max-width: 500px) {
  .wrapper-page {
    padding: 0 12px;
  }
}
@theme inline {
  --color-primary: var(--primary);
  --color-background: var(--background);
  --color-border-color: var(--primary);
  --color-second-color: var(--second-color);
  --color-text-color: var(--text-color);
  --color-gradient-color: var(--gradient-color);
  --color-third-color: var(--third-color);
  --color-first-linear: var(--first-linear-color);
  --color-second-linear: var(--third-color);
}

body {
  background: var(--background);
}
